<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleTables" version="2.7.0" manuallyInstalled="true" />
  <package id="DotNetEnv" version="3.2.0" manuallyInstalled="true" />
  <package id="Humanizer.Core" version="3.0.10" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.10" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.10" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.10" />
  <package id="Superpower" version="3.0.0" />
  <package id="System.Collections.Immutable" version="9.0.10" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="Wcwidth" version="1.0.0" />
</packages>